@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
   <script src="/js/site.js"></script>
    <div class="text-center">
        <h1 class="display-4">Beastie Boys!</h1>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qORYO0atB6g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p>
        <button onclick="Move()">Click this</button>
        
        <div id="Animation"></div>
        </p>
    </div>
